<div *ngIf="!(auth.token$ | async); else loggedInBox" class="login-box">
    <form (ngSubmit)="doLogin()" class="login-form">
        <input type="email" [(ngModel)]="loginDto.email" name="email" placeholder="Email" required>
        <input type="password" [(ngModel)]="loginDto.password" name="password" placeholder="Password" required>
        <button class="add-btn" type="submit" [disabled]="isLoggingIn">Login</button>
    </form>
</div>
<ng-template #loggedInBox>
    <div class="login-info" *ngIf="auth.isLoggedIn$ | async">
        Logged in as <span style="color: #0277bd;">{{ auth.userEmail$ | async }}</span> |
        <button class="icon-btn2" (click)="doLogout()">Logout</button>
    </div>
</ng-template>

<!-- Auth Switch -->

<div *ngIf="auth.token$ | async; else pleaseLogin">
    <div class="dashboard">
        <section class="dashboard-left">
            <app-transaction-list [accounts$]="accounts$" [categories$]="categories$"
                (updated)="reload()"></app-transaction-list>
        </section>
        <aside class="dashboard-right">
            <div class="chart-card">
                <app-category-expense-chart></app-category-expense-chart>
            </div>
            <app-account-list (updated)="reload()"></app-account-list>
            <!-- <app-category-list (updated)="reload()"></app-category-list> -->
             <button class="modal-btn" (click)="openCategories()">
                Categories
            </button>
        </aside>
    </div>
</div>
<ng-template #pleaseLogin>
    <p style="text-align: center;">Please log in to view data.</p>
</ng-template>

<div class="modal-overlay" [class.open]="showCategories" (click)="closeCategories()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="closeCategories()">×</button>

        <app-category-list (updated)="reload()">
        </app-category-list>
    </div>
</div>