<div *ngIf="!(auth.token$ | async); else loggedInBox" class="login-box">
    <form [formGroup]="loginForm" (ngSubmit)="doLogin()" class="login-form">
        <!-- Email field -->
        <div class="form-field">
            <input type="email" formControlName="email" placeholder="Email"
                [class.invalid]="loginForm.controls.email.touched && loginForm.controls.email.invalid" />
            <div class="error-msg" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors">
                <small *ngIf="loginForm.controls.email.errors?.['required']">Email is required.</small>
                <small *ngIf="loginForm.controls.email.errors?.['email']">Must be a valid email.</small>
            </div>
        </div>

        <!-- Password field -->
        <div class="form-field">
            <input type="password" formControlName="password" placeholder="Password"
                [class.invalid]="loginForm.controls.password.touched && loginForm.controls.password.invalid" />
            <div class="error-msg" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors">
                <small *ngIf="loginForm.controls.password.errors?.['required']">Password is required.</small>
                <small *ngIf="loginForm.controls.password.errors?.['minlength']">
                    Must be at least {{ loginForm.controls.password.errors['minlength'].requiredLength }} characters.
                </small>
            </div>
        </div>

        <button class="add-btn" type="submit" [disabled]="isLoggingIn">
            Login
        </button>
    </form>
</div>
<ng-template #loggedInBox>
    <div class="login-info" *ngIf="auth.isLoggedIn$ | async">
        Logged in as <span style="color: #0277bd;">{{ auth.userEmail$ | async }}</span> |
        <button class="icon-btn2" (click)="doLogout()">Logout</button>
    </div>
</ng-template>

<!-- Auth Switch -->

<div *ngIf="auth.token$ | async; else pleaseLogin">
    <div class="dashboard">
        <section class="dashboard-left">
            <app-transaction-list [accounts$]="accounts$" [categories$]="categories$"
                (updated)="reload()"></app-transaction-list>
        </section>
        <aside class="dashboard-right">
            <div class="chart-card">
                <app-category-expense-chart></app-category-expense-chart>
            </div>
            <app-account-list (updated)="reload()"></app-account-list>
            <!-- <app-category-list (updated)="reload()"></app-category-list> -->
            <button class="modal-btn" (click)="openCategories()">
                Categories
            </button>
        </aside>
    </div>
</div>
<ng-template #pleaseLogin>
    <p style="text-align: center;">Please log in to view data.</p>
</ng-template>

<div class="modal-overlay" [class.open]="showCategories" (click)="closeCategories()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="closeCategories()">×</button>

        <app-category-list (updated)="reload()">
        </app-category-list>
    </div>
</div>