<div *ngIf="!(auth.token$ | async); else loggedInBox" class="login-box">
    <form (ngSubmit)="doLogin()" class="login-form">
        <input type="email" [(ngModel)]="loginDto.email" name="email" placeholder="Email" required>
        <input type="password" [(ngModel)]="loginDto.password" name="password" placeholder="Password" required>
        <button class="add-btn" type="submit" [disabled]="isLoggingIn">Login</button>
    </form>
</div>
<ng-template #loggedInBox>
    <div class="login-info">
        Logged in as {{ loginDto.email }} <!-- or decode token later -->
        <button class="icon-btn" (click)="doLogout()">Logout</button>
    </div>
</ng-template>

<!-- Auth Switch -->

<div *ngIf="auth.token$ | async; else pleaseLogin">
    <div class="container-fluid py-2 px-0">
        <div class="row gx-3 gy-3">
            <section class="col-lg-8 col-12 px-3">
                <app-transaction-list [accounts$]="accounts$" [categories$]="categories$"
                    (updated)="reload()"></app-transaction-list>
            </section>

            <section class="col-lg-4 col-12 py-5">
                <app-account-list (updated)="reload()"></app-account-list>
                <app-category-list (updated)="reload()"></app-category-list>
            </section>
        </div>
    </div>
</div>
<ng-template #pleaseLogin>
    <p style="text-align: center;">Please log in to view data.</p>
</ng-template>